.KYENDyf5bL_bTaXxL5aw {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.KYENDyf5bL_bTaXxL5aw * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.BwTcRiO8PrAguhCOGH9M {
  margin: 24px 0;
}
.N6RtDuJXe5BkIyhxU13g {
  margin: 0 4px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
.Gjwkh1uhTtn9tGTifRP9 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.Gjwkh1uhTtn9tGTifRP9 * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.LMYaE4CDtIsdAnseTm0D {
  margin: 8px 0 24px;
}
.FgNvhmj_jG72WXLZisha {
  margin-bottom: 40px;
}
.ojwmWhDD5kfyEycV1GIL {
  margin-bottom: 16px;
}
.A3xfyRSyQvjpdYHwyIa8 {
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-align-self: center;
  align-self: center;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.A3xfyRSyQvjpdYHwyIa8 * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.uCYJbYX81376DN5zCZTg {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 1;
}
.ei9yKxeKctNyAjUUDEvT {
  margin-bottom: 24px;
}
.ei9yKxeKctNyAjUUDEvT > * {
  color: #fff;
}
.ptjHfUzn48J4cfUo_UgX {
  font-size: 24px;
  line-height: 28px;
  margin: 24px 0 0;
}
.lJnMKkP7T1Ol7QjeUkoP {
  margin-bottom: 32px;
  margin-top: 16px;
}
.ufks8pGWM_qIpRYo5zUT {
  margin-bottom: 16px;
}
.bxEzDiVXNr2aueZcMRoL {
  color: #fff;
  margin-bottom: 16px;
}
.hOqdn3_Z_RZvxwnAXxIx {
  margin: 0 auto;
  width: 35%;
}
.jIWpjc5JVlqg4NyVxBsm {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 1;
  padding: 0;
  text-align: center;
}
.jIWpjc5JVlqg4NyVxBsm > div:nth-child(2) {
  max-height: 100%;
}
.UOkyDPOeK2UwsbEonmcK {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
  background-color: #181818;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 64px 16px;
  text-align: center;
}
.UOkyDPOeK2UwsbEonmcK * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.L0iZ6881D6xYXuChU0iS {
  margin-bottom: 16px;
}
.Qt3hR7TjasS1J3oQoqxn {
  margin-bottom: 12px;
}
.izXU1p595HfQELNSAygT {
  margin-bottom: 16px;
  width: 154px;
}
.COJMPHaJLcmta47YciiC {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 0;
}
.q_8RXe08zoRxJYwUPD9L {
  margin-top: 12px;
}
.Z6SIqV1o3sqsCQ0cjkxs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-align-items: center;
  align-items: center;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.Z6SIqV1o3sqsCQ0cjkxs * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.KdSg8rBPBLeU_VnwiQQv {
  background-color: #1db954;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 8px;
}
.KdSg8rBPBLeU_VnwiQQv > * {
  color: #fff;
  display: block;
}
.lhXif2ra6NQvf6urehch {
  -ms-flex-pack: distribute;
  background: #000;
  bottom: 80px;
  height: 100vh;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  overflow-y: scroll;
  padding-top: 10vh;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}
.dPwrT_n_dOHVYbNiXALX,
.lhXif2ra6NQvf6urehch {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.dPwrT_n_dOHVYbNiXALX {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.y2dDkICOlUNYFDm6Megv {
  -webkit-margin-before: 24px;
  -webkit-margin-after: 24px;
  margin-block-end: 24px;
  margin-block-start: 24px;
}
.dj8xOMRgDEMwIZPXHxAO {
  -webkit-margin-after: 32px;
  margin-block-end: 32px;
}
.SpVoh9vvBN0kIwzfCiBh {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-align-items: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 672px;
  padding: 0 16px 0 12px;
}
.SpVoh9vvBN0kIwzfCiBh.nsGHaEmn310z9W4RMbb8 .PfYVlZzroXSurDmS_kxY {
  color: #1db954;
}
.kCT99_BcJQtW47mEfVF6 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gmDgEbPyRXNixmjYAT9f {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.PfYVlZzroXSurDmS_kxY {
  color: #fff;
  line-height: 20px;
}
.itbbweiDUhLIrwEjSRWv {
  color: #b3b3b3;
}
.XlZGcb86bItwlMPQ2jOf {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  grid-gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  -webkit-justify-content: start;
  justify-content: start;
  margin-top: 2px;
}
.VGTtqfOlX2jIbpff6mPP:before {
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aexqooSgfdW95poEaxjH {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 12px 12px 12px 0;
  position: relative;
}
.Fui2wGupk4F1Khigbrhj {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  position: absolute;
}
[dir='ltr'] .aexqooSgfdW95poEaxjH {
  margin-right: 12px;
}
[dir='rtl'] .aexqooSgfdW95poEaxjH {
  margin-left: 12px;
}
.jWcvSz47NFpbLjnkFT1O,
.jWcvSz47NFpbLjnkFT1O img {
  height: 64px !important;
  width: 64px !important;
}
.jWcvSz47NFpbLjnkFT1O img {
  border-radius: 4px;
}
.Oo6MP8F01W5uGlnw8dag,
.Oo6MP8F01W5uGlnw8dag img {
  height: 48px !important;
  width: 48px !important;
}
.Ng3dPPA2_1CFYkzPukjM {
  -webkit-margin-end: 8px;
  -ms-flex-negative: 0;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  background: #2e77d0;
  border-radius: 50%;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 8px;
  margin-inline-end: 8px;
  margin-top: 8px;
  width: 8px;
}
.FCFjIabSYtm65p8kSJO0 {
  -ms-flex-item-align: auto;
  -webkit-align-self: auto;
  align-self: auto;
  margin-top: -1px;
}
@-webkit-keyframes shimmer {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.GUufNEt4tOKYiLgTlfXQ {
  border-radius: 4px;
  color: #b3b3b3;
  cursor: pointer;
  margin: 0 -16px;
  padding: 16px;
}
.GUufNEt4tOKYiLgTlfXQ.jhHasrUEsgWasQK6x9bQ .tEckp4CC6m1SW1yaglRC {
  color: #1db954;
}
.GUufNEt4tOKYiLgTlfXQ.SsymN698xNctcMsuAF1O {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.bIJ1z_dsz7sTEJoGjcHb {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.Rg8fSoeWljYmuSeN4P_F .oj1w8Uz7_DJ3UShMgFpw {
  border-radius: 4px;
  height: 48px;
  margin: 0 12px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 48px;
}
[dir='rtl'] .Rg8fSoeWljYmuSeN4P_F .oj1w8Uz7_DJ3UShMgFpw {
  margin: 0 0 0 12px;
}
.tEckp4CC6m1SW1yaglRC {
  color: #fff;
  line-height: 20px;
  margin: 0;
}
.FyEY6dWDfT6JJISVsx5M {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 12px 0;
  overflow: hidden;
  padding: 0;
  word-break: break-word;
}
.pTebN32OH1h3EY5tUJ3d {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin: 0 0 12px;
}
.vjlQ6Pn7FmSIhpgLUM2s {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.vjlQ6Pn7FmSIhpgLUM2s:empty {
  display: none;
}
.v9fZT00rdoOuPB_RIZAL {
  -webkit-margin-start: -12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-inline-start: -12px;
}
.GUufNEt4tOKYiLgTlfXQ,
.v9fZT00rdoOuPB_RIZAL {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.GUufNEt4tOKYiLgTlfXQ {
  display: grid;
  grid-template-areas: 'coverImage header header' 'description description description' 'metadata metadata metadata' 'actions actions play';
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto;
}
.GUufNEt4tOKYiLgTlfXQ .Rg8fSoeWljYmuSeN4P_F {
  grid-area: coverImage;
}
.GUufNEt4tOKYiLgTlfXQ .Mrls4bnXt_zz3XltClht {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-area: header;
}
.GUufNEt4tOKYiLgTlfXQ .uu8Ss4z5wxtD_WcIOXvT {
  grid-area: description;
  pointer-events: none;
}
.GUufNEt4tOKYiLgTlfXQ .pTebN32OH1h3EY5tUJ3d {
  grid-area: metadata;
  pointer-events: none;
}
.GUufNEt4tOKYiLgTlfXQ .v9fZT00rdoOuPB_RIZAL {
  grid-area: actions;
  pointer-events: none;
}
.GUufNEt4tOKYiLgTlfXQ .v9fZT00rdoOuPB_RIZAL > * {
  pointer-events: all;
}
.GUufNEt4tOKYiLgTlfXQ .Z8NWUJLSYkuRQLHSg_je {
  grid-area: play;
}
.GUufNEt4tOKYiLgTlfXQ .Z8NWUJLSYkuRQLHSg_je button {
  margin: 0;
}
.GUufNEt4tOKYiLgTlfXQ .tEckp4CC6m1SW1yaglRC {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 0;
  word-break: break-word;
}
.OpQcbKxJWnZi0om5RQq0 {
  margin: 0;
}
.kkhNfxVc1GqXfunTEYnq {
  border-color: hsla(0, 0%, 100%, 0.1);
  margin: 0;
}
.kkhNfxVc1GqXfunTEYnq:only-child {
  visibility: hidden;
}
.crREOLZVqy9F_ngra67X {
  background-image: url(../images/mwp-episodelist-placeholder.e05b65de.png);
  background-position-y: top;
  background-repeat: repeat-y;
}
.crREOLZVqy9F_ngra67X .kkhNfxVc1GqXfunTEYnq {
  visibility: visible;
}
.b1hzFAJxbIQzaMdCBV0c,
.fxq8aYefmAUWdpCjvhGy {
  margin-bottom: 16px;
}
.OR4vaTTNOZShT5LDR9q8 {
  margin: 0;
  padding-bottom: 16px;
}
.mTzpz0Vg1_2XcuxQ6g4O {
  margin: 12px;
}
.LpX9YAxITAL0FvR350o3 {
  color: hsla(0, 0%, 100%, 0.7);
  margin-bottom: 8px;
}
.QYhCzOuzmVDxvotcebTz {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-overflow-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4px;
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;
}
.QYhCzOuzmVDxvotcebTz::-webkit-scrollbar {
  display: none;
}
.A5FORrghD7gRz6dtsz_d {
  -webkit-margin-after: 8px;
  margin-block-end: 8px;
}
._yl4tOZxcpoUt28k6B8I {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: none;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 6px 12px;
}
._yl4tOZxcpoUt28k6B8I:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}
._yl4tOZxcpoUt28k6B8I:focus-visible {
  background-color: hsla(0, 0%, 100%, 0.2);
}
.lcJflizNrSwDM9yPNk6h {
  margin-inline: 4px 4px;
  max-width: 14px;
}
.ret7iHkCxcJvsZU14oPY {
  opacity: 0.5;
}
.BXP02uzhT3tA5umUZOEY {
  gap: 8px;
}
.BXP02uzhT3tA5umUZOEY,
.IFB_zGtfjqpaHLHMUsP9 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.IFB_zGtfjqpaHLHMUsP9 {
  gap: 12px;
}
.IFB_zGtfjqpaHLHMUsP9 > .hiDrpPN5sTCbj9BPanr3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 8px;
}
.aqUusTCZuVQioHnHxLR3 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.aqUusTCZuVQioHnHxLR3 > :not(:first-child):before {
  content: '•';
  margin: 0 4px;
}
.d_oxVN8jTc3HAjo5m91Y {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 12px;
}
.kijgofPxR6kU0BKzLIBo {
  text-decoration: line-through;
}
.Y9s9Ni6gTI2hNpvQkAJZ {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-area: play;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.tbPnjqeS45worqV9tkbi {
  z-index: 0;
}
._n_xaCwTzIy6bV7hSpNe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
}
.AfsMFsEEb6cZ9lqDl0w8 {
  border: none;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  margin: 0;
}
.vpOeJQIUaLjnUeXXhzbC {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 8px;
}
.L6epO201ZBrP5Y9xJotv {
  padding-bottom: 0;
}
.CMgJZD0JMx_Yz1tlE7hd {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: normal;
  margin: 32px 0 0;
}
.CMgJZD0JMx_Yz1tlE7hd a {
  color: #fff;
  font-size: 0.875rem;
  padding: 0 8px;
}
.SVnAziPF2z_cgAGrp6He {
  bottom: 0;
  left: 0;
}
.SVnAziPF2z_cgAGrp6He,
.miG_SXrw265mkozdEHrJ {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.miG_SXrw265mkozdEHrJ {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 auto;
  max-width: 304px;
  text-align: center;
}
.miG_SXrw265mkozdEHrJ .RWLySPhsOTyK2EsAGUgx {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: normal;
  margin: 32px 0 0;
}
.miG_SXrw265mkozdEHrJ .X_vuuyeQDD6IWI4aIE6k {
  color: #fff;
  font-size: 1rem;
  margin: 24px 0 0;
  text-align: center;
}
.miG_SXrw265mkozdEHrJ a,
.miG_SXrw265mkozdEHrJ button {
  font-weight: 600;
}
.VdyeU78LKQdX8Dclnfxr {
  min-height: 168px;
}
.VdyeU78LKQdX8Dclnfxr img {
  border-radius: 8px;
  display: block;
  margin: auto;
}
.Z12I3N4OnNvzRSNKOeUn.SVnAziPF2z_cgAGrp6He {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.Z12I3N4OnNvzRSNKOeUn .miG_SXrw265mkozdEHrJ > button:first-of-type {
  margin-top: 32px;
}
.Z12I3N4OnNvzRSNKOeUn .VdyeU78LKQdX8Dclnfxr img {
  max-width: 168px;
}
.IDHZCFcj1ynmYu6Sm5SR.SVnAziPF2z_cgAGrp6He {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 56px;
}
.IDHZCFcj1ynmYu6Sm5SR .miG_SXrw265mkozdEHrJ > button:first-of-type {
  margin-top: 32px;
}
.IDHZCFcj1ynmYu6Sm5SR .VdyeU78LKQdX8Dclnfxr img {
  max-width: 232px;
}
.UmY163JiUcgJt2MKNyGW.SVnAziPF2z_cgAGrp6He {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 64px;
  width: 810px;
}
.UmY163JiUcgJt2MKNyGW .miG_SXrw265mkozdEHrJ {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  margin: 0;
  padding: 0;
}
.UmY163JiUcgJt2MKNyGW .RWLySPhsOTyK2EsAGUgx {
  font-size: 32px;
  margin: 8px 0 24px;
}
.UmY163JiUcgJt2MKNyGW .X_vuuyeQDD6IWI4aIE6k {
  margin: 0 0 24px;
}
.UmY163JiUcgJt2MKNyGW .VdyeU78LKQdX8Dclnfxr {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 64px;
}
.UmY163JiUcgJt2MKNyGW .VdyeU78LKQdX8Dclnfxr img {
  max-width: 300px;
}
[dir='rtl'] .UmY163JiUcgJt2MKNyGW .VdyeU78LKQdX8Dclnfxr {
  margin-left: 64px;
  margin-right: 0;
}
.SYKOtPBDhPSs6zGwbk6A {
  margin-top: 16px;
  width: 100%;
}
@-webkit-keyframes UpsellContainerAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: initial;
    transform: none;
  }
}
@keyframes UpsellContainerAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: initial;
    transform: none;
  }
}
.ecKQaN6gwybKMwskhfLF {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-animation: UpsellContainerAnimation 0.4s ease-in-out 1;
  animation: UpsellContainerAnimation 0.4s ease-in-out 1;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(#121212)
  );
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), #121212);
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.2), #121212);
  bottom: 0;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 7;
}
.ecKQaN6gwybKMwskhfLF,
.ujWWGe74JVcpxEEftlqr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ujWWGe74JVcpxEEftlqr {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #000;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.ujWWGe74JVcpxEEftlqr * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
